:root {
  --background-color: #E5DDD5;
  --input-border-color: #ccc;
  --button-background-color: #007bff;
  --user-bubble-color: #DCF8C6;
  --assistant-bubble-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --input-border-color: #888;
    --button-background-color: #4b9fea;
    --user-bubble-color: #4b9fea;
    --assistant-bubble-color: #535bf2;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.chat-history {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  margin-top: auto;
  width: 100%;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}

.chat-input button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: white;
}

.user,
.assistant {
  min-width: 10%;
  max-width: 60%;
  text-align: justify;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  line-height: 1.4;
}

.user {
  align-self: flex-start;
  background-color: var(--user-bubble-color);
}

.assistant {
  align-self: flex-end;
  background-color: var(--assistant-bubble-color);
}
